<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../partial/index.css">
    <title>Gold GYM</title>
    <link rel = "icon" href = "../images/pngegg.png" type = "image/x-icon">
    <style>
        body {
            background-color: black;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-size: large;
            border: 1px solid white;
            border-radius: 10px;
            table-layout: fixed;
        }

        th {
            background-color: #333232;
            font-weight: bold;
            padding: 1rem;
            text-align: center;
        }

        td {
            text-transform: capitalize;
            font-weight: bold;
            border: 0.01em solid white;
            padding: 1rem;
            text-align: center;
        }

        tr {
            background-color: rgb(209, 208, 208);
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2
        }

        td {
            color: black;
        }

        .table-background {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/airyoga.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        #deletebtn {
            word-spacing: 2px;
            padding: 15px 30px;
            font-size: 2vw;
            background-color: orangered;
            cursor: pointer;
            border: none;
        }
        #name{
            text-transform: capitalize;
            height: 40px;
            padding-left: 0.5rem;
            width: 30%;
            color: black;
            border: none;
            outline: none;
            margin-bottom: 1.5rem;
            margin-top: 0rem;
            background-color: gray;
        }
        .delete{
            text-align: center;
        }
        .label-name{
            font-size: 1rem;
            text-align: left;
        }
        h2{
            font-size: 2em;
            font-weight: lighter;
            margin-bottom: -0.8rem;
        }
        @media only screen and (max-width: 760px),
        (min-device-width: 600px) and (max-device-width: 1024px) {
            table {
                font-size: .8rem;
            }

            tr {
                border: 1px solid #ccc;
            }

            td,
            tr,
            thead {
                padding: .4rem;
                border: none;
                border-bottom: 1px solid #eee;
            }
        }
    </style>
</head>

<body>
    <%- include('../partial/navbar1.hbs'); %>
        <div class="table-background">
            <br><br><br>
            <div style="overflow-x: auto;">
                <% if(details!=null) { %>
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Email </th>
                            <th>Number</th>
                            <th>Message </th>
                        </thead>
                        <% details.forEach(function(item){ %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.number %>
                                </td>
                                <td>
                                    <%= item.message %>
                                </td>
                            </tr>
                            <% }) %>
                    </table>
                    <% } %>
                        <br><br><br>
            </div>
            <div class="delete">
                <form action="/getemail" method="get">
                    <h2>Name</h2><br>
                    <input type="text" id="name" name="firstname"><br>
                    <input type="submit" value="Remove" id="deletebtn" /><br>
                    <h2>Remove an student from the gym</h5><br>
                </form>
            </div>
        </div>
        <%- include('../partial/end.hbs'); %>
</body>

</html>
